{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top:20px;">
  <div class="card-deck">
  {% for p in products %}
      <div class="card" style="width: 18rem;">
          <img src="{{p.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <p class="card-text">{{p.description}}</p>
                <a href="/{{p.id}}" class="btn btn-primary">Details</a>
              </div>
            </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
                
     